.product-info-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "section";
  grid-column-gap: 10px;
}

img.product-resize {
  float: left;
  width: 30%;
  margin-bottom: 10px;
  margin-right: 10px;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
  margin-bottom: 10px;
  padding: 2px;
}
